#container{
    background-color: black;
    height: 1000px;
    width: 1000px;


}
#caja1{
    background: blue;
    height: 30px;
    width: 30%;
    display: inline;
    margin:100px;
    margin-top: 100px;
    padding: 100px;
    

}
#caja2{
    background: blueviolet;
    height: 500px;
    width: 30%;
    display: inline;
    margin:100px;
    padding: 100px;
}
#caja3{
    background: chartreuse;
    height: 700px;
    width: 30%;
    display: inline;
    margin:100px;
    padding: 100px;
}